:root {
    --text-color: #ffffff;
    --border-color: #2c2f33;
    --background-color: #23272a;
    --input-background-color: #2c2f33;
    --input-focus-color: #7289da;
    --button-background-color: #7289da;
    --button-hover-color: #5b6eae;
    --toast-background-color: #2c2f33;
    --button-text-color: #ffffff;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 2rem;
    border-radius: 10px;
    border: 1px solid var(--border-color);
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.title {
    color: var(--text-color);
    font-size: 2.5rem;
    text-align: center;
    margin-top: 0;
    margin-bottom: 1rem;
}

.input-group {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.input-group input[type="text"] {
    flex: 3;
    padding: 0.75rem;
    border-radius: 4px;
    font-size: 1rem;
    transition: border-color 0.3s;
    background-color: var(--input-background-color);
    color: var(--text-color);
    text-align: center;
    border: 1px solid var(--input-background-color);
}

.input-group input[type="text"]:focus {
    outline: none;
    border-color: var(--input-focus-color);
}

.button-group {
    width: 100%;
    display: flex;
    gap: 0.5rem;
}

button {
    flex: 1;
    padding: 0.75rem;
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

button:hover {
    background-color: var(--button-hover-color);
}

/* 特定按钮样式 */
.encrypt-button {
    background-color: #ae0000;
}

.encrypt-button:hover {
    background-color: #8B0000;
}

.random-button {
    background-color: #006400;
}

.random-button:hover {
    background-color: #014d01;
}

.clear-button {
    background-color: #0404ba;
}

.clear-button:hover {
    background-color: #000080;
}

#toast {
    visibility: hidden;
    display: inline-block;
    background-color: var(--toast-background-color);
    color: var(--text-color);
    text-align: center;
    border-radius: 4px;
    padding: 12px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 16px;
    transform: translateX(-50%);
}

#toast.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

.button-group button {
    flex: 1;
    padding: 0.75rem 1rem;
}

#passwordText {
    width: 100%;
    height: 20px;
    resize: none;
    padding-right: 40px !important;
}

.copy-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    cursor: pointer;
    fill: #7289da;
    transition: fill 0.3s;
}

.copy-icon:hover {
    fill: #5b6eae;
}